{% load i18n %}
{% load add_css_class %}
{% load notifications %}
<div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Notification preferences" %}</h3>
      </div>
      <div class="panel-body">
          <form action="{% url 'async:preferences' %}" method="post">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                <div class="col-sm-3">
                    <div class="form-group">
                   <label id="id_business_lines">{{ form.get_notification_display }}</label>
                        {{ form.business_lines|add_css_class:"form-control" }}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
            </form>
      </div>
  </div>
</div>
{% notification_forms %}